- Use Prisma with SQLite for local-first database
- Next.js 15 App Router for routing and API
- TypeScript for type safety
- TailwindCSS, Shadcn/UI and Radix for styling
- React Server Components by default
- Use Bun
- Maximize less code and less files, less complexity, less bugs